install
lang en_US.UTF-8
keyboard us
timezone UTC
auth  --enableshadow --passalgo=sha512 --kickstart
firewall --disabled
selinux --disabled
eula --agreed
ignoredisk --only-use=sda
skipx
text
reboot

bootloader --location=mbr
zerombr
clearpart --all --initlabel
## autopart
part swap --asprimary --fstype="swap" --size=1024
part /boot --fstype xfs --size=200
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow

network --bootproto=dhcp --hostname=centos7
rootpw vagrant
user --name=vagrant --plaintext --password vagrant

%packages --nobase --ignoremissing
core
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
(
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
/usr/bin/yum -y --enablerepo extras install epel-release deltarpm
/usr/bin/yum -y update
) 2>&1 | /usr/bin/tee /var/log/post_install.log
chvt 1
%end
